# http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
jsdoc/
doc/
coverage/
dist/
node_modules/
# examples/**/node_modules/
examples/

test/resources/auth.js
# ignore emitted js
**/*v*.js
!test/**/*.js
!examples/**/*.js
lib/*.js
scripts/typedoc/